.body {
    background-color: #b3ecf4;
    margin: 0;
}

.container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 45px;
    background-color: black;
}

.header {
    color: white;
    padding-left: 10px;
    line-height: 45px;
    margin: 0;
}

.add_task {
    display: flex;
    flex-direction: column;
    padding: 20px;
    margin-top: 60px;
    min-width: 150px;
}

.title_task {
    border-radius: 5px;
    padding: 8px 4px;
    border: 2px solid rgb(9, 113, 63);
}

#btn_date {
    width: 170px;
    margin-top: 20px;
    margin-left: 10px;
    text-align: center;
}

#btn_hour {
    width: 170px;
    margin-top: -20px;
    text-align: center;
    margin-left: 200px;
}

.date_select {
    margin-top: 20px;
}

#all_day {
    margin-left: -345px;
    margin-top: 20px;
}

#all_day_label {
    margin-top: -19px;
    margin-left: 20px;
}

#repeat_task {
    margin-top: -14px;
    margin-left: 28px;
}

#repeat_task_label {
    margin-left: 205px;
    margin-top: -19px;
}

#prioridad {
    margin-top: 20px;
}

#color_label {
    margin-top: 20px;
}

#color {
    margin-top: 5px;
    width: 150px;
    background-color: #b3ecf4;
    border-radius: 6px;
}

#description {
    margin-top: 20px;
    border-color: #b3ecf4;
    background-color: #b3ecf4;
    height: 50px;   
}

.add_btn {
    width: 100px;
    margin: 70px auto;
}