.body {
    background: linear-gradient(
        to bottom,
        #84bdc5 1%,
        #9adbe8 60%,
        #000 100%);
    margin: 0;
    min-height: 100vh;
    display: flex;
    
    font-family: icon;
}

.container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 50px;
    background-color: black;
    z-index: 10;
}

    .header {
        color: white;
        padding-left: 10px;
        line-height: 50px;
        margin: 0;
    }

.add_task_btn {
    width: 70px;
    height: 70px;
    border-radius: 50%;
    background-color: #00e1ff;
    color: #000;
    font-size: 45px;
    border: 2px solid #000;
    cursor: pointer;
    justify-content: center;
    align-items: right;
    transition: background-color 0.2s, transform 0.3s;
    position: fixed;
    bottom: 50px;
    right: 50px;
}

.add_task_btn:hover {
    background-color: #00bfd8;
    transform: scale(1.1);
}

.add_task_btn:active {
    background-color: #81f0ff;
    transform: scale(0.95);
}

.form-add-edit {
    width: 500px;
    height: 320px;
    background-color: rgba(255, 255, 255, 0.5);
    border-radius: 20px;
    margin-top: 20px;
    margin-left: 180px;
    font-size: 14px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 30px;
}

.add_task {
    display: flex;
    flex-direction: column;
}

.title_task {
    border-radius: 5px;
    padding: 8px 4px;
    border: 2px solid #78b1b9;
}

.botones_hora_fecha {
    margin-top: 20px;
    display: flex;
    gap: 70px;
}

#lbl_date {
    font-weight: bold;
    margin-top: 10px;
}

.select_date {
    display: flex;
    gap: 10px;
}

.checkboxes {
    display: flex;
    gap: 150px; /*Espacio entre checks_task*/
    margin-top: 20px;
}

#check_task {
    display: flex;
    align-items: center;
    gap:8px; /*Espacio entre el check y el label*/
}

#color_label {
    margin-top: 20px;
}

#color {
    margin-top: 5px;
    width: 150px;
    background-color: rgba(255, 255, 255, 0.7);
    border-radius: 6px;
}

input::placeholder {
    color: rgb(71, 71, 71);
    opacity: 1;
}

#descripcion {
    margin-top: 20px;
    padding: 7px;
    border: 2px solid #78b1b9;
    border-radius: 7px;
    background-color: white;
    height: 60px;  
}

.add_btn {
    width: 120px;
    margin: 30px auto;
    border-radius: 5px;
    padding: 4px;
    cursor: pointer;
    transition: background-color 0.2s, transform 0.3s;
    justify-content: center;
}

.add_btn:hover {
    background-color: #e9e9e9;
    transform: scale(1.05);
}

.add_task_btn:active {
    background-color: #ffffff;
    transform: scale(0.35);
}

.tasks-container {
    width: 600px;
    display: flex;
    flex-direction: column;
    gap: 6px;
    margin-top: 20px;
    background-color: rgba(255, 255, 255, 0.01);
    border-radius: 20px;
}

.task-card {
    background-color: white;
    padding: 20px 20px 10px 20px;
    border-radius: 10px;
    border-top-left-radius: 0px;
    box-shadow: 0 2px 6px rgba(0,0,0,0.1);
    cursor: pointer;
    position: relative;;
}

.task-complete {
    margin-left: -20px;
}

.task-complete:hover {
    transform: scale(1.003);
}

.task-card h3 {
    margin: 0;
    font-family: Georgia;
}

.delete-btn {
    position: absolute;
    right: 15px;          /* distancia desde la derecha */
    top: 50%;
    background: none;
    border: none;
    cursor: pointer;
    transform: translateY(-50%);
    .task-card {
    background-color: white;
    padding: 20px 20px 10px 20px;
    border-radius: 10px;
    border-top-left-radius: 0px;
    box-shadow: 0 2px 6px rgba(0,0,0,0.1);
    cursor: pointer;
}

.task-complete {
    margin-left: -20px;
}

.task-complete:hover {
    transform: scale(1.003);
}

.task-card h3 {
    margin: 0;
    font-family: Georgia;
}

.delete-btn {
    display: flex;
    right: 50px;          /* distancia desde la derecha */
    margin-top:-15px;
    background: none;
    border: none;
    cursor: pointer;
    display: flex;
    align-items: center;
}

.delete-btn img {
    width: 50px;
    height: 50px;
}

.delete-btn:hover img {
    transform: scale(1.1);
}
}

.delete-btn img {
    width: 50px;
    height: 50px;
}

.delete-btn:hover img {
    transform: scale(1.1);
}

.title-date {
    width: 180px;
    text-align: center;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    color: white;
    background-color: rgb(0, 22, 59);
    font: bold 80% sans-serif;
    padding: 3px 0px;
}

.sidebar .logo img {
    visibility: hidden;
}

.sidebar:hover .logo img {
    visibility: visible;
    width: 180px;
    height: 100px;
    border-radius: 10px;
    margin: 10px;
    margin-top: 60px;
}

/* Estilos para la barra lateral de navegación */
.sidebar {
    width: 30px; /*cerrada*/
    height: 100vh;
    background-color: #000;
    color: white;
    transition: width 0.3s ease;
    overflow: hidden;
    padding-top: 0;
    
}

/*indicador*/
.toggle {
    width: 10px;
    height: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    left: 10px;
    top:50%;
    transform: translateY(-50%);
    background-color: #000;
    margin-top: 20px;
    color: #5d5d5d;
}

.menu-container {
    padding-top: 20px;
    padding-left: 20px;
}

/*Menú oculto*/
.menu { 
    display: none;
    flex-direction: column;
    padding: 20px;
}

.menu a {
    color: white;
    text-decoration: none;
    margin-bottom: 10px;
    padding: 8px 12px;
    border-radius: 6px;
    transition: background-color 0.25s ease, color 0.25s ease;
}

.menu a:hover {
    background-color: #47b7c6;
    color: #000;
    transform: scale(1.1);
}

/* Estilos cuando la barra lateral está abierta */
.sidebar:hover {
    width: 200px; /*abierta*/
}

/*mostrar menú*/
.sidebar:hover .menu {
    display: flex;
}

/* girar el > */
.sidebar:hover .toggle {
    transform: rotate(180deg);
    transition: transform 0.3s;
}

/* Ajustes para el contenido principal cuando la barra lateral está abierta */
.main-content {
    flex: 1;
    padding: 60px;
    transition: margin-left 0.3s ease;
}

/* cuando la sidebar está abierta */
.sidebar:hover + .main-content {
    margin-left: 20px;
}